

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0
}

html, body {
     width: 100%;
     min-height: 100vh;
     background: linear-gradient($soft-violet,$soft-blue);
     z-index: 0;
}